image: Visual Studio 2015   # на этом VM-образе установлены все Visual Studio с 2008 по 2015

init:
    # секция инициализации, исполняется до клонирования проекта
    # скорее всего, строчка ниже необязательна (так должно быть по умолчанию),
    # вместе с тем, она присутствует в официальных примерах, так что пусть будет:
    - git config --global core.autocrlf input

clone_folder: c:\projects\mlcgen # выбираем локальную директорию для клонирования
shallow_clone: true              # копируем только последний коммит, без истории (git clone --depth 1)

matrix:
    fast_finish: false           # не останавливаемся после возникновения ошибки в каком-то из заданий

platform:
    # будем гонять CI на amd64 и x86...
    # - x64
    - x86

configuration:
    - Debug
    - Release

environment:
    matrix:
        # ... на трёх студиях (2010, 2012, 2015)
        # - TOOLCHAIN: msvc10
        # - TOOLCHAIN: msvc12
        - TOOLCHAIN: msvc14

install:
    - del "c:\Program Files (x86)\MSBuild\14.0\Microsoft.Common.targets\ImportAfter\Xamarin.Common.targets"
    # скрипт настройки среды и установки зависимостей:
    # - call ci\appveyor\set-env.bat %TOOLCHAIN% %PLATFORM%

    # - appveyor DownloadFile <url> -FileName <local-file>
    # - 7z e -y <local-file> -o<local-dir>
    # - ...

build_script:
    # скрипт сборки проекта:
    - python src/main.py -i simple_test/config -o simple_test/generated/xml -f xml -l cpp -side server -data simple_test/data_xml -data_out simple_test/assets
    - cd simple_test
    - dir
    - mkdir build
    - cd build
    - cmake .. -DBUILD_XML=ON -DBUILD_JSON=OFF -DBUILD_SIDE=SERVER %CMAKE_CONFIGURE_FLAGS%
    - cmake --build . %CMAKE_BUILD_FLAGS%

test_script:
    # скрипт тестирования проекта:
    - cd %CONFIGURATION%
    - dir
    - test_mlc_xml.exe

# artifacts:
#     - path: <local-package-path>
#       name: package_name

# deploy:
#     # выкладываем tagged-коммиты на GitHub Releases:
#     description: '$(APPVEYOR_REPO_TAG_NAME)'
#     provider: GitHub

#     auth_token:
#         secure: <encrypted-github-token>

#     artifact: package_name
#     force_update: true

#     on:
#         appveyor_repo_tag: true