*.suo
*.pyc
*.opensdf
*.sdf
*.exe
*.pdb
*.ilk
*.obj
*.user
/packages/
/bin/
/out/

tests/cpp/TestCpp/Debug/
tests/cpp/TestCpp/Release/
tests/cpp/TestCpp/TestSerialization.cpp

tests/java/TestJava/bin/
tests/java/TestJava/obj/
