/simple_test/generated/
/simple_test/generated_py/
/simple_test/generated_php/
/simple_test/build/
/.idea/
/.sublime/

*.pyc
.DS_Store
*.pyproj

simple_test/mlc_tools_test.xcodeproj
.vs/mlc/v14/.suo
simple_test/assets/
php_tests/gen/
php_tests/gen_data/
mlc.sln
/out
